<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div style="padding: 10px">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="" name="login" placeholder="login">
      <input type="password" id="password" class="" name="password" placeholder="password">
      <input type="submit" class="" value="Connexion">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/client/compte/creer">Créer un compte</a>
    </div>

  </div>
</div>
