<h3>Update Categorie</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Nom categorie</label>
      <input type="text" class="form-control" required [(ngModel)]="client.nom" name="nomClient">
    </div>

    <div class="form-group">
      <label>Nom categorie</label>
      <input type="text" class="form-control" required [(ngModel)]="client.prenom" name="prenomClient">
    </div>

    <div class="form-group">
      <label>Nom categorie</label>
      <input type="text" class="form-control" required [(ngModel)]="client.adresse" name="adresseClient">
    </div>

    <div class="form-group">
      <label>Nom categorie</label>
      <input type="text" class="form-control" required [(ngModel)]="client.telephone" name="telClient">
    </div>

    <div class="form-group">
      <label>Nom categorie</label>
      <input type="text" class="form-control" required [(ngModel)]="client.photo" name="photoClient">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
